.example-container {
    display: flex;
    flex-direction: column;
    /* overflow: auto; */
    max-height: 500px;
    
  }

  .header-row, .row {
    height: 40px;
  }

  .cell
  {
      font-size: 12px;
  }

  .header-cell
  {
      font-weight: bold;
      font-size: 14px;
  }