<div class="appNavbar mat-elevation-z5">
  <div class="appLogo">
    <button mat-button>Rapsody</button>
  </div>
  <div>
    <button mat-button>
      <!-- <mat-icon aria-label="home">home</mat-icon> -->
      <span routerLink="/Home" routerLinkActive="active" style="padding-left: 5px; vertical-align: center">Dashboard</span>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">Referentials</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/MagnitudeEntity" routerLinkActive="active">Magnitude Entity</button>
      <button mat-menu-item routerLink="/MagnitudeEntity" routerLinkActive="active">Bsobc</button>
    </mat-menu>
  </div>
</div>
<div style="width: 95%; margin: auto;">
  <router-outlet></router-outlet>
</div>
