.appNavbar
{
    width:100%;
    min-height: 50px;
    background-color: #673ab7;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: white;
}

.mat-menu-item {
    font-size: 14px;
  }
  
  button.mat-menu-item{
    font-size: 14px;
  }

  .appLogo
  {
    font-size: 20px !important;
  }